*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: white;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.container input[type="text"] {
  width: 50rem;
  font-size: 3rem;
  padding: 0.5rem;
}

.list {
  width: 100%;;
}

.row {
  display: flex;
  padding: 1rem;
  font-size: large;
  justify-content: space-between;
}

.name {
  flex: 1 1 calc(30%);
  text-align: center;
}

.latitude {
  flex: 1 1 calc(30%);
  text-align: center;
}

.longitude {
  flex: 1 1 calc(30%);
  text-align: center;
}

.header {
  font-weight: bold;
  font-size: larger;
}